{{- $path := .Get "path" -}}
{{- $modTime := now -}} {{/* По умолчанию текущее время */}}

{{- if $path -}}
  {{- $yamlFile := printf "data/lastmod/%s.yaml" $path -}}
  {{- with site.Data.lastmod (replace $path "/" "_") }} {{/* Попытка взять дату из YAML */}}
    {{- $modTime = time.ParseInLocation "2006-01-02" .date "Local" -}}
  {{- else -}}
    {{- $file := printf "static/%s" $path -}}
    {{- with os.Stat $file -}}
      {{- $modTime = .ModTime -}}
    {{- end -}}
  {{- end -}}
{{- else if .Page.Lastmod -}}
  {{- $modTime = .Page.Lastmod -}}
{{- end -}}

{{- if $modTime -}}
  {{- $lang := .Page.Language.Lang -}}
  {{- $months := dict
      "en" (dict "January" "January" "February" "February" "March" "March"
                 "April" "April" "May" "May" "June" "June"
                 "July" "July" "August" "August" "September" "September"
                 "October" "October" "November" "November" "December" "December")
      "ru" (dict "January" "января" "February" "февраля" "March" "марта"
                 "April" "апреля" "May" "мая" "June" "июня"
                 "July" "июля" "August" "августа" "September" "сентября"
                 "October" "октября" "November" "ноября" "December" "декабря")
  -}}
  {{- $month := index (index $months $lang) ($modTime.Format "January") -}}
  {{- $day := $modTime.Format "2" -}}
  {{- $year := $modTime.Format "2006" -}}

  {{- if eq $lang "ru" -}}
    <span class="lastmod">({{ i18n "last_updated" }}: {{ $day }} {{ $month }} {{ $year }})</span>
  {{- else -}}
    <span class="lastmod">({{ i18n "last_updated" }}: {{ $month }} {{ $day }}, {{ $year }})</span>
  {{- end -}}
{{- end -}}
